<div class="banner__slider">
	 <div class="slider stick-dots">
	   {% for block in section.blocks %}
			<div class="slide">
			  <div class="slide__img">
				<img src="{{ block.settings.image.src | img_url: "1366X500" }}" class="full-image animated" data-animation-in="zoomInImage"/>
			  </div>
			  <div class="slide__content">
				<div class="slide__content--headings text-center">
					<h2 class="animated top-title" data-animation-in="fadeInUp" data-delay-in="0.3">{{ block.settings.heading }}</h2>
					<h3 class="animated title" data-animation-in="fadeInUp" data-delay-in="0.2">{{ block.settings.subheading }}</h3>
					<a href="{{ block.settings.link }}" class="btn-light btn button-custom animated" data-animation-in="fadeInUp" data-delay-in="0.1" target="_blank">{{ block.settings.button_label }}<i class="bi bi-arrow-right"></i></a>
				</div>
			  </div>
			</div>
		{% endfor %} 
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
        <circle r="20" cy="22" cx="22" id="test">
    </symbol>
	</svg>
</div>
          

{% schema %}
  {
    "name": "Banner Slider",
    "max_blocks": 3,
    "blocks": [
      {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "text",
           "id": "heading",
           "label": "Heading"
         },
         {
           "type": "text",
           "id": "subheading",
           "label": "Sub Heading"
         },
         {
           "type": "text",
           "id": "button_label",
           "label": "Button"
         },
         {
           "type": "url",
           "id": "link",
           "label": "Url"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
      }
    ],
    "presets": [
      {
        "name": "Custom Slideshow"  
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}