<div class="shop-collection">
  <div class="page-width">
    <div class="heading-part">
      <h2 class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">{{ section.settings.heading }}</h2>
      <p class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">{{ section.settings.paragrapg }}</p>
    </div>
    <ul class="grid grid--1-col grid--4-col-desktop">
        {%- for block in section.blocks -%}
          {% if block.settings.collection != blank %}
            <li class="grid__item aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
              <a href="{{ block.settings.collection.url }}" target="_blank">
                <div class="plus-zoom-overlay">
                  <img src="{{ block.settings.collection.featured_image | img_url: "medium" }}" />
                </div>
                <h3>{{ block.settings.collection.title | metafield_tag }}</h3> 
                <p>{{ block.settings.collection.all_products_count }} Product</p>
              </a>
            </li> 
          {% endif %}
        {%- endfor -%}
    </ul>
  </div>
</div>



{% schema %}
  {
    "name": "Shop collection list",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "paragrapg",
        "label": "Paragraph"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "featured_collection",
        "name": "collections",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop collection list"
      }
    ]
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}