{% assign products = section.settings.product_collection.products %}
<div class="product-list">
	<div class="page-width"> 
        <div class="heading-part">
          <h2 class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">{{ section.settings.main-heading }}</h2>
        </div>  
		<ul class="myList grid grid--1-col grid--4-col-desktop">
          {%- for product in products limit: section.settings.products_to_show -%} 
            <li class="grid__item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="product-media"> 
                <a href="{{ product.url }}" target="_blank">
                  <img src="{{ product.images[0] | img_url: 'medium' }}" /> 
                </a> 
                <div class="product-quick-btns">
                  <ul>
                    <li><button id="product-view" class="quickview" type="submit" variant_id="{{ product.selected_or_first_available_variant.id }}"><i class="bi bi-eye"></i></button></li>
                    <li><button class="add-to-cart-button" type="submit" variant_id="{{ product.selected_or_first_available_variant.id }}"><i class="bi bi-cart"></i></button></li>
                    <li><a href="javascript:void(0)"><i class="bi bi-heart"></i></a></li>
                  </ul>
                </div>
              </div> 
              <div class="product-info">
                <h3 class="metafield-dimension"><a href="{{ product.url }}" target="_blank">{{ product.title | metafield_tag }}</a></h3>
                <p>{{ product.price | money }}</p>
              </div>   
            </li> 
          {% endfor %} 
		</ul>
         
        <div class="loadMore aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">
          <a href="javascript:void(0)" class="load-more">Load More <i class="bi bi-arrow-down"></i></a> 
        </div>
	</div>
</div>


<section class="product-quick-view-popup">
  <div class="popup__content">
    <div class="close">
      <span></span>
      <span></span>
    </div>
hello my name is popup
  </div>
</section>



{% schema %}
  {
    "name": "Trending Products",
    "settings": [
      {
        "type":"text",
        "id": "main-heading",
        "label": "Heading"
      },
      {
        "type":"collection",
        "id": "product_collection",
        "label": "Product Collection"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Enter Collection Product "
      },
      {
      "type": "range",
      "id": "products_to_show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    }
    ],
    "presets": [
      {
        "name": "Trending Products"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}